<div align="center"><h><strong>SMS SEND</strong> </h></div>
</br> 
</br> 
<div align="center"><h1><strong>Login</strong> </h1></div>


<!DOCTYPE html>
</br> 
</br>
</br> 

<html>
<body>
<form method="POST" action="submit">
  Username: <input type="text" name="username" size="15" /><br />
  Password: <input type="password" name="passwort" size="15" /><br />
<input type="hidden" name="action" value="register">
  <div align="center">
    <p><input type="submit" value="Login" /></p>
  </div>
</form>
<div align="center">

</div>
</body>
</html>

